.shape {
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.blue_shape {
    border-bottom: 30px solid blue;
}

.green_shape {
    border-bottom: 30px solid green;
}